# --- ENTORNOS VIRTUALES ---
venv/
.env

# --- ARCHIVOS DE VIDEO Y MULTIMEDIA ---
*.mp4
*.mov
*.avi
*.mkv
*.zip
*.rar

# --- ARCHIVOS COMPILADOS DE PYTHON ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- CARPETAS Y ARCHIVOS TEMPORALES ---
static/uploads/
static/videos/
static/pdfs/
modulos/data/
*.log
*.tmp

# --- ARCHIVOS SENSIBLES ---
modulos/chatbot_pdf.py
